@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Cascadia Code;
    src: url(/src/fonts/Cascadia.ttf);
  }
}

@layer utilities {
  .title {
    @apply relative uppercase italic;
  }
  .title::after {
    @apply absolute left-3 top-3 w-full text-xl font-medium uppercase italic text-black opacity-15 blur-[1px] content-[attr(data-name)];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clipped {
  clip-path: polygon(10% 0%, 100% 0%, 100% 85%, 90% 100%, 0% 100%, 0% 15%);
}
