@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Cascadia Code;
    src: url(/src/fonts/Cascadia.ttf);
  }
}

@layer utilities {
  .title {
    @apply relative uppercase italic;
  }
  .title::after {
    @apply absolute left-3 top-3 text-xl font-bold uppercase italic text-black opacity-15 blur-[1px] content-[attr(data-name)];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
